{% load static i18n %}<!DOCTYPE html>
{% load leaflet_tags %}

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Altonode - {% block title_block %}Gateway to the Cloud{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/agency.min.css' %}" rel="stylesheet">
	
	<!-- Django leaflet HTML header -->
	{% leaflet_js %}
    {% leaflet_css %}
	<style>
        .leaflet-container { height: 100%; }
    </style>

  </head>

  <body id="page-top">
	
	{% block body_block %}{% endblock %}
	
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
			{% if year %}
              <span class="copyright">Copyright &copy; Altonode {{ year }}</span>
			{% else %}
			  <span class="copyright">Copyright &copy; Altonode 2018</span>
			{% endif %}
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="{% url 'aceapp:privacy_policy' %}">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'aceapp:usage_terms' %}">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Contact form JavaScript -->
	<script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
	<script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/agency.min.js' %}"></script>
	
	<!-- Django location field JavaScript-->
	<script src="{% static 'location_field/js/jquery.livequery.js' %}"></script>
	<script src="{% static 'location_field/js/form.js' %}"></script>

  </body>

</html>
