{% extends 'aceapp/base.html' %}

{% block title_block %}Privacy Policy{% endblock %}


{% block body_block %}
   <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'aceapp:home_rest_api' %}">Altonode Networks</a>
      </div>
    </nav>

    <!-- Privacy Statement -->
    <section id="workflow">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">PRIVACY POLICY</h2>
            <h3 class="section-subheading text-muted">Altonode Networks privacy statement.</h3>
			<div>
			  <h4>SECTION 1</h4>
              <h5 class="subheading">WHAT DO WE DO WITH YOUR INFORMATION?</h5>
              <p class="text-muted">When you subscribe to our services, as part of the buying and selling process, 
			    we collect the personal information you give us such as your name, phone number, company and email address.
				When you browse our site, we also automatically receive your computer’s internet protocol (IP) address 
				in order to provide us with information that helps us learn about your browser and operating system. 
				Email marketing (if applicable): With your permission, we may send you emails about our services, 
				new offers and other updates.<br></p>
            </div>
			<div>
			  <h4>SECTION 2</h4>
              <h5 class="subheading">CONSENT</h5>
              <p class="text-muted">How do you get my consent? When you provide us with personal information to complete a subscription, 
			    we imply that you consent to our collecting it and using it for that specific reason only. 
				If we ask for your personal information for a secondary reason, like marketing, 
				we will either ask you directly for your expressed consent, or provide you with an opportunity to say no. 
				How do I withdraw my consent? If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, 
				for the continued collection, use or disclosure of your information, at anytime, 
				by contacting us at webops@altonode.com or mailing us at: Altonode Networks P.O. Box 81671-80100, Mombasa, Kenya.<br></p>
			</div>
			<div>
			  <h4>SECTION 3</h4>
              <h5 class="subheading">DISCLOSURE</h5>
              <p class="text-muted">We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.<br></p>
            </div>
			<div>
			  <h4>SECTION 4</h4>
              <h5 class="subheading">AMAZON</h5>
              <p class="text-muted">Our web app is hosted on Amazon. They provide us with the online platform that allows us to sell our services to you.
			    Your data is stored through Amazon’s data storage, databases and the general Amazon Web Services. 
				They store your data on a secure server behind a firewall.<br></p>
            </div>
			<div>
			  <h4>SECTION 5</h4>
              <h5 class="subheading">THIRD-PARTY SERVICES</h5>
              <p class="text-muted">In general, the third-party providers used by us will only collect, 
			    use and disclose your information to the extent necessary to allow them to perform the services they provide to us. However, 
				certain third-party service providers, such as payment gateways and other payment transaction processors, 
				have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions. 
				For these providers, we recommend that you read their privacy policies so you can understand the manner in which 
				your personal information will be handled by these providers. In particular, remember that certain providers 
				may be located in or have facilities that are located in a different jurisdiction than either you or us. 
				So if you elect to proceed with a transaction that involves the services of a third-party service provider, 
				then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.
				As an example, if you are located in Kenya and your transaction is processed by a payment gateway located in the United States, 
				then your personal information used in completing that transaction may be subject to disclosure under United States legislation, 
				including the Patriot Act. Once you leave our company website or are redirected to a third-party website or application, 
				you are no longer governed by this Privacy Policy or our website’s Terms of Service.
				<br><strong>Links:</strong><br>When you click on links on our web app, they may direct you away from our site. 
				We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.<br></p>
            </div>
			<div>
			  <h4>SECTION 6</h4>
              <h5 class="subheading">SECURITY</h5>
              <p class="text-muted">To protect your personal information, we take reasonable precautions and follow industry best practices 
			    to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.
			    <br><strong>COOKIES:</strong><br>Here is a list of cookies that we use. 
			    We’ve listed them here so you can choose if you want to opt-out of cookies or not:
			    _session_id, unique token, sessional, Allows our web application to store information about your session (referrer, landing page, etc).<br></p>
            </div>
			<div>
			  <h4>SECTION 7</h4>
              <h5 class="subheading">AGE OF CONSENT</h5>
              <p class="text-muted">By using this site, you represent that you are at least the age of majority in your state or province of residence, 
			    or that you are the age of majority in your state or province of residence 
			    and you have given us your consent to allow any of your minor dependents to use this site.<br></p>
            </div>
			<div>
			  <h4>SECTION 8</h4>
              <h5 class="subheading">CHANGES TO THIS PRIVACY POLICY</h5>
              <p class="text-muted">We reserve the right to modify this privacy policy at any time, so please review it frequently. 
			    Changes and clarifications will take effect immediately upon their posting on the website. 
				If we make material changes to this policy, we will notify you here that it has been updated, 
				so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it. 
				If our company is acquired or merged with another company, your information may be transferred to the new owners 
				so that we may continue to sell products to you.<br></p>
            </div>
			<div>
              <h5 class="subheading">QUESTIONS AND CONTACT INFORMATION</h5>
              <p class="text-muted">If you would like to: access, correct, amend or delete any personal information we have about you, 
			    register a complaint, or simply want more information contact us via hey[at]altonode.com or by mail at 
				<br>Altonode Networks<br>[Re: Web Operations]<br>[81671-80100, Mombasa, Kenya]<br></p>
			</div>
          </div>
        </div>
      </div>
    </section>	
{% endblock %}